html, body{
  height: 100% !important;
}

#root{
  height: 100% !important;
}
.App {
  text-align: center;
  height: 100% !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.radio{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 18rem;
  margin-bottom: 18rem;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  width: 100%;
}

a:hover{
  text-decoration: none !important;
  color: white !important;
}
.inscription{
  font-family: 'Satisfy', cursive;
  opacity: 0.7;
}
.register{
  background: linear-gradient(323deg, rgba(165,124,189,1) 0%, rgba(251,255,86,1) 100%, rgba(255,255,255,1) 100%);
  width: 100%;
  padding-top: 3rem;
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
  height: 100% !important;
}
.contgr{
  display: grid;
  grid-template-rows: 4fr 1fr;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidescroll::-webkit-scrollbar {
  display: none;
}
